@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.title{
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    padding-top: 2%;
    font-family: 'Open Sans', sans-serif;
}
h3{
    color: #ffffff ;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
   
    
}
h4{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}
body{
    background-color: #000000;
    
    
}
h1{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #ffffff;
}
h2{
    color: #ffffff;
    

}
h5{
    color: #ffffff;
    font-size: small;
    font-weight: lighter;
}
section{
    padding: 20px;
    margin: 20px;
    background-color: #222527;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
}
footer{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #ffffff
}
.flex-container{
    display: flex;
    gap: 20px;
    font-family: 'Open Sans', sans-serif;   
    padding-left: 8%; 
    padding-right: 8%;
    padding-top: 2%;
    padding-bottom: 2%;

}
.column-1{
    flex: 2;           
    padding-left: 20px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #222527;
    border-color: #C8CAD0;
    color: #ffffff;

}
.column-2{
    flex: 6;           
    padding-left: 20px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #222527;
    border-color: #C8CAD0;
    color: #ffffff;

}
.profile-pic{
    width: 10%;
    height: auto;
    text-align: center;
    
   
   

}
h1{
    font-family: 'Open Sans', sans-serif;
    font-size: small;
    font-weight: lighter;
    text-align: left;

}
.project-title{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: #ffffff;


}