@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
h3{
    color: #ffffff ;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    
}
h4{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}
body{
    background-color: #000000;
    
}
h1{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #ffffff
}
h2{
    color: #ffffff

}
section{
    padding: 20px;
    margin: 20px;
    background-color: #222527;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
}
footer{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #ffffff
}
.profile-pic{
    width: 10%;
    height: auto
   
    

}