
body{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: 'Courier New', Courier, monospace;
    background-color: #f0f0f0;
}
section{
    padding: 20px;
    margin: 20px;
    background-color: #fff;
}